.dancing-text {
  font-size: 12px;
  line-height: 12px;
  font-weight: 900;
  height: 65vh;
  overflow: hidden;
  margin: 0;
  word-break: break-all;
  background: url("/assets/img/8TAbG5Kqc.gif") no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-fill-color: rgba(255, 255, 255, 0);
}