---
---

@import "base/variables";

.color-tester {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.color-box_wrap, .color-controller_wrap {
  flex: 1 1 48%;
  min-width: 300px;
}

.color-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  div {
    flex-shrink: 0;
    width: 20%;
    height: 0;
    padding-top: 20%;
    box-shadow: 0 0 0 1px rgba(100, 100, 100, 1);
    transition: all 200ms;
  }

  div.e {
    background-color: black;
  }

  div:not(.e):hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    &:active {
      transform: scale(1);
    }
  }

  div:first-child {
    border-radius: 10px 0 0 0;
  }

  div:last-child {
    border-radius: 0 0 10px 0;
  }

  div:nth-child(5) {
    border-radius: 0 10px 0 0;
  }

  div:nth-child(21) {
    border-radius: 0 0 0 10px;
  }
}

.color-controller {
  position: relative;
  margin: 2em auto;

  .color-red, .color-green, .color-blue, .opacity {
    display: flex;
    text-align: center;
    margin-bottom: 0.4em;

    label {
      flex: 0 0 4em;
    }

    .color-range, .opacity-range {
      flex-grow: 1;
      margin-right: 1em;
    }

    .color-value, .opacity-value {
      flex: 0 0 3em;
      border-bottom: 1px solid $sub-font-color;
    }
  }

  .result {
    display: flex;
    flex-direction: row;

    .color-type {
      flex: 0 0 4em;
      text-align: center;
    }
    .hex-color, .rgba-color {
      flex: 1 1 10em;
      border-bottom: 1px solid $sub-font-color;
      text-align: center;
    }

    .copy {
      flex: 0 0 3em;
      margin-left: 0.4em;
      font-size: 1.2em;
      border: none;
      background-color: transparent;
    }
  }
}
