/* functions */

/* mixins */

/* util */
.clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

/* common */
.wrapper {
  font-family: 'Noto Serif KR', serif;
  color: $base-font-color;
}

a {
  text-decoration: none;
  color: inherit;
}

/* base layout */
html,
body {
  height: 100%;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.header {
  height: $header-height;
}

.content {
  position: relative;
  flex-grow: 1;
}

.footer {
  height: $header-height;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 $base-gutter 5px;

  font-size: inherit;
  color: inherit;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
  font-size: 1.6em;
}

.header-nav {
  // safari 에서 메뉴가 개행되어 나타나는 이슈 수정.
  width: 100px;
  text-align: end;
}

.header-nav_link {
  font-size: 1em;
  margin-left: $base-gutter;
}

/* tag navigation */
.tag-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  height: $header-height - 10px;
  margin-top: 1px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.tag-nav_tags {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 0.86em;
  font-family: sans-serif;
  color: $sub-font-color;
  align-items: center;

  height: 100%;
  display: flex;
  margin: auto $base-gutter;

}

.tag-nav_tag {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 1em;
  margin-top: 0.3rem;

  &.current {
    color: $base-font-color;
    font-weight: bold;
    order: -1;
    text-transform: uppercase;

    &::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      bottom: -0.6rem;
      border-bottom: 2px solid;
      border-radius: 1px;
      opacity: 0.6;
    }
  }
}

.tag-nav_tag_count {
  font-size: 0.6em;
  vertical-align: top;

  &::before {
    content: "[";
    vertical-align: top;
  }

  &::after {
    content: "]";
    vertical-align: top;
  }
}

/* footer */
.footer {
  position: relative;;
  background-color: #ddd;
}

.footer-wrap {
  max-width: $content-max-width;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 $base-gutter;
  margin: 0 auto;

  font-size: 0.8em;
  color: $sub-font-color;

  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    box-shadow: 0 1px 3px $sub-font-color;
  }
}

.footer-contact {
  text-align: end;
  width: 5em;

  a {
    font-size: 1.2em;
    color: $sub-font-color;
    margin-left: 0.3rem;
  }
}

/* post list */

.post-list_warp {
  max-width: $content-max-width;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem $base-gutter 0;
}

.post-list_item {

  &::after {
    content: " ";
    display: block;
    width: 90%;
    height: 0;
    border-bottom: 1px solid $sub-font-color;
    opacity: 0.3;
    margin: 1.8em auto;
  }
}
.post-list_item_title {
  font-size: 1.3em;
  margin-bottom: 0.5rem;
}

.post-list_item_tag {
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.9em;

  &::before {
    content: "#";
  }

  &::after {
    content: " ";
    margin-right: 0.5em;
  }
}

.post-list_item_date {
  float: right;
  color: $sub-font-color;
  font-size: 0.9em;
}

/* post view */

.post-warp {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 1.5rem $base-gutter 0;
}

.post-head {
  text-align: center;
}

.post-head_title {
  margin-top: 2rem;
  margin-bottom: 0.6rem;
  word-break: keep-all;
}

.post-head_date {
  color: $sub-font-color;
}

.post-content {
  position: relative;

  font-family: inherit;
  font-size: 1.1em;

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  &::after, &::before {
    content: " ";
    display: block;
    width: 90%;
    height: 0;
    margin: 2.4rem auto 2.4em;
    border-bottom: 1px solid $sub-font-color;
    opacity: 0.3;
  }
}
.post-content img {
  max-width: calc(100% + #{$base-gutter * 2});
  width: calc(100% + #{$base-gutter * 2});
  margin-left: -$base-gutter;
}

.post-tags {
  margin: 2.4rem auto 2.4rem;
}

.post-tags_item {
  display: inline-block;
  color: $sub-font-color;
  font-size: 0.9em;
}

.post-tags_item_link {
  font-family: sans-serif;

  &::before {
    content: "#";
    display: inline;
  }
}

/* about */

.about_warp {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #333;
}

.about {
  max-width: 80%;
  width: 500px;
  position: relative;
  margin: 0 auto;

  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.about_cover {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: -75px;

  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.4);
}

.about_me {
  margin-top: 2em;
  color: #fff;
}
