// blog

.blog {
  $bottom-margin: .5em;

  .posts__item__link {
    display:block;
    text-decoration: none;
    color: inherit;
  }

  .posts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .posts__item {
    margin-bottom: 1px;
    padding-bottom: 1em;
    flex-basis: 100%;
    flex-shrink: 0;
  }

  .posts__item__title {
    font-size: 1.3em;
    margin-bottom: $bottom-margin;
  }

  .posts__item__date {
    font-size: .9em;
    margin-bottom: $bottom-margin;
    color: $light-font-color;
  }

  .posts__item__excerpt {
    margin-left: .2em;
    margin-bottom: .5em;
    color: $light-font-color;
  }

  .posts__item__tag {
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.4em 0.4em;
    font-size: 0.7em;
    color: #dee2e6;
    background-color: $light-font-color;
    border-radius: 3px;
  }
}
