// style for post

@import "helper/github";
.post__top {
  margin-bottom: 1px;
}

.post__top__content {
  padding-top: $content-margin-top;
}

.post-date {
  color: $light-font-color;
}

.post__title {
  h1 {
    font-size: 3em;
  }
}
.post__content {
  padding: 1em;
}

.post__tags {
  margin-top: 1.5em;
}

.post__tag {
  display: inline-block;
  height: 1.5em;
  border-radius: 0.2em;
  padding: 0 10px;
  background-color: #51a1a5;
  color:#dee2e6;
}

.post__tag__link {
  color:inherit;
  text-decoration: none;
}