//
// tag cloud
//

.tags__title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.2em;
  display: inline-block;
}

.tags__body {
  display: inline-block;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  height: 2em;
  margin-right: 0.5em;
  vertical-align: middle;
  padding: 0.5em 0.4em;
  border-radius: 5px;
  color:#dee2e6;
  background-color: #51a1a5;
}

.tag--current {
  font-weight: bold;
  transform: scale(1.2);
  box-shadow: 0 0 3px 1px #FFFFFF;
}

.tag__link {
  color:inherit;
  cursor: pointer;
  text-decoration: none;
}

.tag__count {
  font-size:0.6em;
}

