//
// config
//

$site-width: 62rem;
$content-margin-top: 1.5em;
$base-font-color: #32373c;
$bottom-line-color: #d6b5cc;
$light-font-color: #7e868e;
$body-background-color: #efefef;
$content-background-color: #ffffff;
$base-serif: 'Nanum Myeongjo', serif;
$base-sans-serif: sans-serif;

