//
// config
//

$site-width: 55rem;
$content-margin-top: 4em;
$base-font-color: #32373c;
$bottom-line-color: #d6b5cc;

$base-serif: 'Nanum Myeongjo', serif;
$base-sans-serif: 'Nanum Gothic', sans-serif;