.lottery-generator {
  font-family: sans-serif;

  .lottery-generator__options {
    display: flex;
    flex-direction: column;
  }

  //.generation-results {
  .ball {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 0.4em;
    text-align: center;
  }

  .mini {
    width: 1.8em;
    height: 1.8em;
    font-size: 0.8em;
    line-height: 1.2;
  }

  @mixin color-border($color) {
    border: $color solid 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: $color;
    color: white;
  }

  .ball-color-0 {
    @include color-border(#f1f10e);
    color:black;
  }
  .ball-color-1 {
    @include color-border(blue);
  }
  .ball-color-2 {
    @include color-border(black);
  }
  .ball-color-3 {
    @include color-border(red);
  }
  .ball-color-4 {
    @include color-border(green);
  }
  //}
  .nums-select-layer {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, 0.4);
    z-index: 100;

    ol {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }

    li {
      list-style: none;
      flex-basis: 3em;
    }

    .num-checkbox {
      margin-right: 5px;
    }

    .num-select-layer-button-area {
      width: 100%;
      text-align: center;
    }
  }
  .lottery-history {
    .select-history {
      display: flex;
      flex-direction: row;
      border-bottom: #000 1px solid;
      padding-left: 0.2em;

      .button {
        display: inline-block;
        padding: 0.5em;
        margin-bottom: -1px;
        border: #000 1px solid;

        &.selected {
          border-bottom: #fff 1px solid;
        }
      }

      .show-winning-static {
        border-right: none;
      }
    }
    .content ol {
      margin-left: -1em;
      list-style: none;
    }

    .color-history ol {
      display: flex;
      flex-direction: row;
      height: 30vh;

      li {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 0.3em;
      }

      li .ball {
        margin: 0.2em 0;
      }

      li .bar {
        border-radius: 3px;
        background-color: rebeccapurple;
      }
    }

    .num-history {
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      li .bar {
        display: inline-block;
        border-radius: 3px;
        background-color: rebeccapurple;
        height: 6px;
        margin-right: 0.5rem;
      }
    }
  }
  .hide {
    display: none;
  }

  .generation-history {
    margin-top: 1em;
  }
}
