//
// helper
//

.site-width {
  max-width: $site-width;
  @include margin-auto;
}

.content-item {
  padding: 1em 1em 1em;
  margin-bottom: 0.8em;
  background-color: $content-background-color;
  box-shadow: 0px 0px 1px 1px #e6dbe3;
}